.h5{
    width:127;
    height: 32px;
    font-style: Oswald;
    font-size: 16px;
    margin-bottom: 18px;
    margin-top: 105px;
    margin-left: 135px;
    margin-right: 1178px;
    color:#171B1B
}

body{
    background-color: #e5b577;
}

.h1{
    width: 519px;
    height:128px;
    font-family: Ultra;
    font-style: normal;
    margin-bottom: 69px;
    margin-left: 135px;
    margin-right: 786px;
    margin-top: 18px;
    color:#171B1B
}

.development{
    width:770px;
    height: 448px;
    margin-top: 69px;
    margin-right: 30px;
    margin-bottom: 32px;
    margin-left: 135px;
}
.image2{
    width:370px;
    height:304px;
    display:inline-block;
    margin-left: 30px;
    margin-right: 135px;
    margin-bottom: 32px;

}
.image3{
    width: 370px;
    height: 304px;
    display: inline-block;
    margin-top: 32px;
    margin-right: 30px;
    margin-left: 135px;
}
.image4{
    width: 370px;
    height: 304px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 32px;
}
.image5{
    width: 370px;
    height: 304px;
    display: inline-block;
    margin-top: 32px;
    margin-left: 30px;
    margin-right: 135px;
}
